@page
@model FUMCFoodPantry.Pages_Inventory.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.AverageRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Served)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Served)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Stock.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
