@page
@model FUMCFoodPantry.Pages_Inventory.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.AverageRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Served)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Served)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
